.hig__text-field-v1__input {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  font-family: 'ArtifaktElement', sans-serif;
  color: black;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: block;
  padding: 3px 0;
  width: 100%;
  box-sizing: border-box;
  background-color: transparent;
  border: none; }
  .hig__text-field-v1__input::-webkit-input-placeholder {
    transition: color 0.2s;
    color: #485366; }
  .hig__text-field-v1__input::-moz-placeholder {
    transition: color 0.2s;
    color: #485366; }
  .hig__text-field-v1__input:-moz-placeholder {
    transition: color 0.2s;
    color: #485366; }
  .hig__text-field-v1__input:-ms-input-placeholder {
    transition: color 0.2s;
    color: #485366; }
  .hig__text-field-v1__input:focus {
    outline: none; }
    .hig__text-field-v1__input:focus::-webkit-input-placeholder {
      color: #485366;
      font-size: 14px;
      transition-delay: 0.2s; }
    .hig__text-field-v1__input:focus::-moz-placeholder {
      color: #485366;
      font-size: 14px;
      transition-delay: 0.2s; }
    .hig__text-field-v1__input:focus:-moz-placeholder {
      color: #485366;
      font-size: 14px;
      transition-delay: 0.2s; }
    .hig__text-field-v1__input:focus:-ms-input-placeholder {
      color: #485366;
      font-size: 14px;
      transition-delay: 0.2s; }
  .hig__text-field-v1__input[type=password] {
    font-size: 24px;
    letter-spacing: 1px; }
  .hig__text-field-v1__input[type=password].hig__text-field-v1__input--no-value {
    font-size: 14px;
    letter-spacing: 0; }

.hig__text-field-v1__input--no-value::-webkit-input-placeholder {
  color: transparent; }

.hig__text-field-v1__input--no-value::-moz-placeholder {
  color: transparent; }

.hig__text-field-v1__input--no-value:-moz-placeholder {
  color: transparent; }

.hig__text-field-v1__input--no-value:-ms-input-placeholder {
  color: transparent; }
