.hig__text-field-v1 {
  position: relative;
  display: flex;
  font-family: 'ArtifaktElement', sans-serif;
  font-weight: 500;
  min-width: 300px;
  max-width: 450px; }

.hig__text-field-v1__content {
  width: 100%; }

.hig__text-field-v1__content--with-icon {
  margin-left: 26px; }

.hig__text-field-v1__input-row {
  display: flex;
  align-items: center; }

.hig__text-field-v1__icon {
  position: absolute;
  left: -28px; }

.hig__text-field-v1__icon--disabled {
  opacity: 0.3; }

.hig__text-field-v1__label-spacer {
  height: calc(12px + 3px); }

.hig__text-field-v1__label {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  top: calc(12px + 3px);
  color: rgba(0, 0, 0, 0.5);
  position: absolute;
  transition-property: top, font-size, line-height;
  transition-duration: 0.1s, 0.1s, 0.1s;
  transition-delay: 0.1s; }
  .hig__text-field-v1--disabled .hig__text-field-v1__label {
    color: #d4dbe1;
    pointer-events: none; }

.hig__text-field-v1__label--input-focused,
.hig__text-field-v1__label--with-value {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #0671a1;
  top: 0; }

.hig__text-field-v1__label--required:after {
  content: '*';
  display: inline-block;
  margin-left: 5px; }

.hig__text-field-v1--clear-button-visible .hig__text-field-v1__input,
.hig__text-field-v1--password-button-visible .hig__text-field-v1__input {
  padding-right: 36px; }

.hig__text-field-v1__instructions,
.hig__text-field-v1__required-notice {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  color: #485366; }

.hig__text-field-v1__required-notice::before {
  content: '*';
  display: inline-block;
  margin-right: 5px; }

.hig__text-field-v1__input-wrapper {
  border-bottom: 1px solid #bec8d2;
  box-shadow: 0 1px 0 #bec8d2;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  box-shadow: none; }
  .hig__text-field-v1__input-wrapper:hover {
    border-color: #0ed3be;
    box-shadow: 0 1px 0 #0ed3be; }

.hig__text-field-v1__input-wrapper--focused {
  border-bottom: 1px solid #0671a1;
  box-shadow: 0 1px 0 #0671a1; }
  .hig__text-field-v1__input-wrapper--focused:hover {
    border-color: #0671a1;
    box-shadow: 0 1px 0 #0671a1; }

.hig__text-field-v1__input-wrapper--disabled {
  border-bottom: 1px solid #d4dbe1;
  box-shadow: 0 1px 0 #d4dbe1;
  border-bottom-style: dashed;
  color: #d4dbe1;
  box-shadow: none; }
  .hig__text-field-v1__input-wrapper--disabled:hover {
    border-color: #d4dbe1;
    box-shadow: 0 1px 0 #d4dbe1; }
  .hig__text-field-v1__input-wrapper--disabled:hover {
    box-shadow: none; }

.hig__text-field-v1__input-wrapper--with-errors {
  border-bottom: 1px solid #ec4a41;
  box-shadow: 0 1px 0 #ec4a41; }
  .hig__text-field-v1__input-wrapper--with-errors:hover {
    border-color: #ec4a41;
    box-shadow: 0 1px 0 #ec4a41; }

.hig__text-field-v1__clear {
  position: absolute;
  right: 0px; }
  .hig__text-field-v1--disabled .hig__text-field-v1__clear {
    display: none; }

.hig__text-field-v1__errors {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 12px;
  font-weight: 600;
  line-height: 14px;
  color: #ec4a41; }

.hig__text-field-v1--with-errors .hig__text-field-v1__instructions {
  font-weight: 600;
  color: #ec4a41; }
