@import "~@hig/styles/mixins/colors.scss";
@import "~@hig/styles/mixins/spacing.scss";

$hig-font-family: ArtifaktElement, sans-serif !default;
$hig-tooltip-background-color: color("hig-gray-60");
$hig-tooltip-font-color: #ffffff;
$tooltip-border-radius: 2px;
$tooltip-padding: spacing("xxxs");
