/*  tooltip animation definitions */
.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 200ms ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 200ms ease-in;
}

//top
@keyframes fade-top {
  0% {
    transform: translateY(17px);
    opacity: 0.01;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes fade-arrow-top {
  0% {
    transform: translateY(22px);
    opacity: 0.01;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

//bottom
@keyframes fade-bottom {
  0% {
    transform: translateY(-17px);
    opacity: 0.01;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes fade-arrow-bottom {
  0% {
    transform: translateY(-22px);
    opacity: 0.01;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

//left
@keyframes fade-left {
  0% {
    transform: translateX(55px);
    opacity: 0;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes fade-arrow-left {
  0% {
    transform: translateX(60px);
    opacity: 0;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

//right
@keyframes fade-right {
  0% {
    transform: translateX(-55px);
    opacity: 0;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes fade-arrow-right {
  0% {
    transform: translateX(-60px);
    opacity: 0;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
