@import "../../../node_modules/@hig/styles/mixins/colors.scss";
@import "../../../node_modules/@hig/styles/mixins/spacing.scss";

$tooltip-transition-duration: 200ms;
$tooltip-border-radius: 2px;
$tooltip-padding: spacing("xxxs");

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 200ms ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 200ms ease-in;
}
