@import "~@hig/styles/build/index.css";
@import "../../../node_modules/@hig/styles/mixins/colors.scss";
@import "../../../node_modules/@hig/styles/mixins/shadows.scss";
@import "../../../node_modules/@hig/styles/tokens/layers.scss";
@import "./tokens.scss";

$hig-font-family: ArtifaktElement, sans-serif;
$hig-tooltip-background-color: #393939;
$hig-tooltip-font-color: #ffffff;

.hig__tooltip {
  font-family: $hig-font-family;
  font-size: 12px;
  position: relative;
  display: inline-block;
  list-style: none;
  visibility: visible;
  line-height: 16px;
  text-align: left;
  padding: 0;
  z-index: $flyout-container-layer;
  // to override user-agent styling for inputs
  button, select {
    font-family: $hig-font-family;
  }
}

.hig__tooltip-placement-top,
.hig__tooltip-placement-topLeft,
.hig__tooltip-placement-topRight,
.hig__tooltip-placement-bottom,
.hig__tooltip-placement-bottomLeft,
.hig__tooltip-placement-bottomRight {
  padding: 8px 0 8px 0
}

.hig__tooltip-placement-right,
.hig__tooltip-placement-rightTop,
.hig__tooltip-placement-rightBottom,
.hig__tooltip-placement-left,
.hig__tooltip-placement-leftTop,
.hig__tooltip-placement-leftBottom {
  padding: 0 8px 0 8px
}

.hig__tooltip-children-wrapper {
  display: inline-block;
  position: relative;
}

.hig__tooltip-inner {
  color: $hig-tooltip-font-color;
  background-color: $hig-tooltip-background-color;
  padding: 0 12px;
  text-align: left;
  border-radius: 2px;
  z-index: $flyout-container-layer;
  @include shadow($shadow-type: "common");

  a {
    color: $hig-tooltip-font-color;
  }

  hr {
    background-color: black;
    color: black;
    border-color: black;
  }

  img {
    max-width: 300px;
    height: auto;
  }

  .hig__tooltip-link {
    line-height: 24px;
    text-align: right;
    padding-bottom: 4px;
  }

  .hig__tooltip-title {
    font-weight: bold;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .hig__tooltip-description {
    font-weight: normal;
    padding-top: 4px;
    padding-bottom: 12px;
  }

  .hig__tooltip-inner-content {
    padding-top: 11px;
  }
}

.hig__tooltip-arrow {
  position: absolute;
  border: 0 solid transparent;
}

/* arrow styles */
// top
.hig__tooltip-placement-top .hig__tooltip-arrow,
.hig__tooltip-placement-topLeft .hig__tooltip-arrow,
.hig__tooltip-placement-topRight .hig__tooltip-arrow {
  bottom: 3px;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: $hig-tooltip-background-color;
}

// bottom
.hig__tooltip-placement-bottom .hig__tooltip-arrow,
.hig__tooltip-placement-bottomLeft .hig__tooltip-arrow,
.hig__tooltip-placement-bottomRight .hig__tooltip-arrow {
  top: 3px;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: $hig-tooltip-background-color;
}

// right
.hig__tooltip-placement-right .hig__tooltip-arrow,
.hig__tooltip-placement-rightTop .hig__tooltip-arrow,
.hig__tooltip-placement-rightBottom .hig__tooltip-arrow {
  left: 3px;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: $hig-tooltip-background-color;
}

// left
.hig__tooltip-placement-left .hig__tooltip-arrow,
.hig__tooltip-placement-leftTop .hig__tooltip-arrow,
.hig__tooltip-placement-leftBottom .hig__tooltip-arrow {
  right: 3px;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: $hig-tooltip-background-color;
}

/* arrow positions */
.hig__tooltip-placement-top .hig__tooltip-arrow,
.hig__tooltip-placement-bottom .hig__tooltip-arrow {
  left: 50%;
}

.hig__tooltip-placement-topLeft .hig__tooltip-arrow,
.hig__tooltip-placement-bottomLeft .hig__tooltip-arrow {
  left: 15%;
}

.hig__tooltip-placement-topRight .hig__tooltip-arrow,
.hig__tooltip-placement-bottomRight .hig__tooltip-arrow {
  right: 15%;
}

.hig__tooltip-placement-right .hig__tooltip-arrow,
.hig__tooltip-placement-left .hig__tooltip-arrow {
  top: 50%;
}

.hig__tooltip-placement-rightTop .hig__tooltip-arrow,
.hig__tooltip-placement-leftTop .hig__tooltip-arrow {
  top: 15%;
  margin-top: 0;
}

.hig__tooltip-placement-leftBottom .hig__tooltip-arrow,
.hig__tooltip-placement-rightBottom .hig__tooltip-arrow {
  bottom: 15%;
}

/* arrow animations */
// top
.hig__tooltip-placement-top .hig__tooltip-arrow,
.hig__tooltip-placement-topLeft .hig__tooltip-arrow,
.hig__tooltip-placement-topRight .hig__tooltip-arrow {
  animation: fade-arrow-top 0.1s;
}

.hig__tooltip-placement-top .hig__tooltip-inner,
.hig__tooltip-placement-topLeft .hig__tooltip-inner,
.hig__tooltip-placement-topRight .hig__tooltip-inner {
  animation: fade-top 0.1s;
}

// bottom
.hig__tooltip-placement-bottom .hig__tooltip-arrow,
.hig__tooltip-placement-bottomLeft .hig__tooltip-arrow,
.hig__tooltip-placement-bottomRight .hig__tooltip-arrow {
  animation: fade-arrow-bottom 0.1s;
}

.hig__tooltip-placement-bottom .hig__tooltip-inner,
.hig__tooltip-placement-bottomLeft .hig__tooltip-inner,
.hig__tooltip-placement-bottomRight .hig__tooltip-inner {
  animation: fade-bottom 0.1s;
}

// right
.hig__tooltip-placement-right .hig__tooltip-arrow,
.hig__tooltip-placement-rightTop .hig__tooltip-arrow,
.hig__tooltip-placement-rightBottom .hig__tooltip-arrow {
  animation: fade-arrow-right 0.1s;
}

.hig__tooltip-placement-right .hig__tooltip-inner,
.hig__tooltip-placement-rightTop .hig__tooltip-inner,
.hig__tooltip-placement-rightBottom .hig__tooltip-inner {
  animation: fade-right 0.1s;
}

// left
.hig__tooltip-placement-left .hig__tooltip-arrow,
.hig__tooltip-placement-leftTop .hig__tooltip-arrow,
.hig__tooltip-placement-leftBottom .hig__tooltip-arrow {
  animation: fade-arrow-left 0.1s;
}

.hig__tooltip-placement-left .hig__tooltip-inner,
.hig__tooltip-placement-leftTop .hig__tooltip-inner,
.hig__tooltip-placement-leftBottom .hig__tooltip-inner {
  animation: fade-left 0.1s;
}
