@import url(~@hig/styles/build/index.css);
/*  tooltip animation definitions */
.fade-enter {
  opacity: 0.01; }

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 200ms ease-in; }

.fade-leave {
  opacity: 1; }

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 200ms ease-in; }

@keyframes fade-top {
  0% {
    transform: translateY(17px);
    opacity: 0.01; }
  100% {
    transform: translateY(0%);
    opacity: 1; } }

@keyframes fade-arrow-top {
  0% {
    transform: translateY(22px);
    opacity: 0.01; }
  100% {
    transform: translateY(0%);
    opacity: 1; } }

@keyframes fade-bottom {
  0% {
    transform: translateY(-17px);
    opacity: 0.01; }
  100% {
    transform: translateY(0%);
    opacity: 1; } }

@keyframes fade-arrow-bottom {
  0% {
    transform: translateY(-22px);
    opacity: 0.01; }
  100% {
    transform: translateY(0%);
    opacity: 1; } }

@keyframes fade-left {
  0% {
    transform: translateX(55px);
    opacity: 0; }
  50% {
    opacity: 0.3; }
  100% {
    transform: translateX(0%);
    opacity: 1; } }

@keyframes fade-arrow-left {
  0% {
    transform: translateX(60px);
    opacity: 0; }
  50% {
    opacity: 0.3; }
  100% {
    transform: translateX(0%);
    opacity: 1; } }

@keyframes fade-right {
  0% {
    transform: translateX(-55px);
    opacity: 0; }
  50% {
    opacity: 0.3; }
  100% {
    transform: translateX(0%);
    opacity: 1; } }

@keyframes fade-arrow-right {
  0% {
    transform: translateX(-60px);
    opacity: 0; }
  50% {
    opacity: 0.3; }
  100% {
    transform: translateX(0%);
    opacity: 1; } }

.hig__tooltip {
  font-family: ArtifaktElement, sans-serif;
  font-size: 12px;
  position: relative;
  display: inline-block;
  list-style: none;
  visibility: visible;
  line-height: 16px;
  text-align: left;
  padding: 0;
  z-index: 9999; }
  .hig__tooltip button, .hig__tooltip select {
    font-family: ArtifaktElement, sans-serif; }

.hig__tooltip-placement-top,
.hig__tooltip-placement-topLeft,
.hig__tooltip-placement-topRight,
.hig__tooltip-placement-bottom,
.hig__tooltip-placement-bottomLeft,
.hig__tooltip-placement-bottomRight {
  padding: 8px 0 8px 0; }

.hig__tooltip-placement-right,
.hig__tooltip-placement-rightTop,
.hig__tooltip-placement-rightBottom,
.hig__tooltip-placement-left,
.hig__tooltip-placement-leftTop,
.hig__tooltip-placement-leftBottom {
  padding: 0 8px 0 8px; }

.hig__tooltip-children-wrapper {
  display: inline-block;
  position: relative; }

.hig__tooltip-inner {
  color: #ffffff;
  background-color: #393939;
  padding: 4px 10px;
  text-align: left;
  border-radius: 2px;
  z-index: 9999;
  -webkit-box-shadow: 0 0 4px #bec8d2;
  -moz-box-shadow: 0 0 4px #bec8d2;
  -ms-box-shadow: 0 0 4px #bec8d2;
  -o-box-shadow: 0 0 4px #bec8d2;
  box-shadow: 0 0 4px #bec8d2; }
  .hig__tooltip-inner a {
    color: #ffffff; }
  .hig__tooltip-inner hr {
    background-color: black;
    color: black;
    border-color: black; }
  .hig__tooltip-inner img {
    max-width: 300px;
    height: auto; }
  .hig__tooltip-inner .hig__tooltip-link {
    text-align: right; }
  .hig__tooltip-inner .hig__tooltip-title {
    font-weight: bold;
    padding-top: 8px;
    padding-bottom: 8px; }
  .hig__tooltip-inner .hig__tooltip-description {
    font-weight: normal;
    padding-top: 8px;
    padding-bottom: 8px; }

.hig__tooltip-arrow {
  position: absolute;
  border: 0 solid transparent; }

/* arrow styles */
.hig__tooltip-placement-top .hig__tooltip-arrow,
.hig__tooltip-placement-topLeft .hig__tooltip-arrow,
.hig__tooltip-placement-topRight .hig__tooltip-arrow {
  bottom: 3px;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #393939; }

.hig__tooltip-placement-bottom .hig__tooltip-arrow,
.hig__tooltip-placement-bottomLeft .hig__tooltip-arrow,
.hig__tooltip-placement-bottomRight .hig__tooltip-arrow {
  top: 3px;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #393939; }

.hig__tooltip-placement-right .hig__tooltip-arrow,
.hig__tooltip-placement-rightTop .hig__tooltip-arrow,
.hig__tooltip-placement-rightBottom .hig__tooltip-arrow {
  left: 3px;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #393939; }

.hig__tooltip-placement-left .hig__tooltip-arrow,
.hig__tooltip-placement-leftTop .hig__tooltip-arrow,
.hig__tooltip-placement-leftBottom .hig__tooltip-arrow {
  right: 3px;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #393939; }

/* arrow positions */
.hig__tooltip-placement-top .hig__tooltip-arrow,
.hig__tooltip-placement-bottom .hig__tooltip-arrow {
  left: 50%; }

.hig__tooltip-placement-topLeft .hig__tooltip-arrow,
.hig__tooltip-placement-bottomLeft .hig__tooltip-arrow {
  left: 15%; }

.hig__tooltip-placement-topRight .hig__tooltip-arrow,
.hig__tooltip-placement-bottomRight .hig__tooltip-arrow {
  right: 15%; }

.hig__tooltip-placement-right .hig__tooltip-arrow,
.hig__tooltip-placement-left .hig__tooltip-arrow {
  top: 50%; }

.hig__tooltip-placement-rightTop .hig__tooltip-arrow,
.hig__tooltip-placement-leftTop .hig__tooltip-arrow {
  top: 15%;
  margin-top: 0; }

.hig__tooltip-placement-leftBottom .hig__tooltip-arrow,
.hig__tooltip-placement-rightBottom .hig__tooltip-arrow {
  bottom: 15%; }

/* arrow animations */
.hig__tooltip-placement-top .hig__tooltip-arrow,
.hig__tooltip-placement-topLeft .hig__tooltip-arrow,
.hig__tooltip-placement-topRight .hig__tooltip-arrow {
  animation: fade-arrow-top 0.1s; }

.hig__tooltip-placement-top .hig__tooltip-inner,
.hig__tooltip-placement-topLeft .hig__tooltip-inner,
.hig__tooltip-placement-topRight .hig__tooltip-inner {
  animation: fade-top 0.1s; }

.hig__tooltip-placement-bottom .hig__tooltip-arrow,
.hig__tooltip-placement-bottomLeft .hig__tooltip-arrow,
.hig__tooltip-placement-bottomRight .hig__tooltip-arrow {
  animation: fade-arrow-bottom 0.1s; }

.hig__tooltip-placement-bottom .hig__tooltip-inner,
.hig__tooltip-placement-bottomLeft .hig__tooltip-inner,
.hig__tooltip-placement-bottomRight .hig__tooltip-inner {
  animation: fade-bottom 0.1s; }

.hig__tooltip-placement-right .hig__tooltip-arrow,
.hig__tooltip-placement-rightTop .hig__tooltip-arrow,
.hig__tooltip-placement-rightBottom .hig__tooltip-arrow {
  animation: fade-arrow-right 0.1s; }

.hig__tooltip-placement-right .hig__tooltip-inner,
.hig__tooltip-placement-rightTop .hig__tooltip-inner,
.hig__tooltip-placement-rightBottom .hig__tooltip-inner {
  animation: fade-right 0.1s; }

.hig__tooltip-placement-left .hig__tooltip-arrow,
.hig__tooltip-placement-leftTop .hig__tooltip-arrow,
.hig__tooltip-placement-leftBottom .hig__tooltip-arrow {
  animation: fade-arrow-left 0.1s; }

.hig__tooltip-placement-left .hig__tooltip-inner,
.hig__tooltip-placement-leftTop .hig__tooltip-inner,
.hig__tooltip-placement-leftBottom .hig__tooltip-inner {
  animation: fade-left 0.1s; }
