@import url(~@hig/styles/build/index.css);
.hig-tooltip {
  font-family: ArtifaktElement, sans-serif;
  position: relative;
  z-index: 1060;
  display: inline-block;
  list-style: none;
  visibility: visible;
  font-size: 12px;
  text-align: left;
  margin: 0;
  padding: 0; }
  .hig-tooltip button, .hig-tooltip select {
    font-family: ArtifaktElement, sans-serif; }

.hig-tooltip-placement-top, .hig-tooltip-placement-topLeft, .hig-tooltip-placement-topRight {
  padding: 8px 0 8px 0; }

.hig-tooltip-placement-right, .hig-tooltip-placement-rightTop, .hig-tooltip-placement-rightBottom {
  padding: 0 8px 0 8px; }

.hig-tooltip-placement-bottom, .hig-tooltip-placement-bottomLeft, .hig-tooltip-placement-bottomRight {
  padding: 8px 0 8px 0; }

.hig-tooltip-placement-left, .hig-tooltip-placement-leftTop, .hig-tooltip-placement-leftBottom {
  padding: 0 8px 0 8px; }

.hig-tooltip-children-wrapper {
  display: inline-block; }

.hig-tooltip-inner {
  padding: 8px 12px 8px 12px;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  background-color: #393939;
  line-height: 16px;
  box-shadow: none;
  min-height: 32px;
  max-width: 304px;
  border-radius: 2px; }
  .hig-tooltip-inner img {
    max-width: 300px;
    height: auto; }
  .hig-tooltip-inner .hig-tooltip-link {
    text-align: right; }
    .hig-tooltip-inner .hig-tooltip-link a {
      color: #fff; }
    .hig-tooltip-inner .hig-tooltip-link hr {
      background-color: black;
      color: black;
      border-color: black; }

.hig-tooltip-title {
  font-weight: bold;
  padding-top: 8px;
  padding-bottom: 8px; }

.hig-tooltip-description {
  font-weight: normal;
  padding-top: 8px;
  padding-bottom: 8px; }

.hig-tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid; }

.hig-tooltip-placement-top .hig-tooltip-arrow, .hig-tooltip-placement-topLeft .hig-tooltip-arrow, .hig-tooltip-placement-topRight .hig-tooltip-arrow {
  bottom: 4px;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #373737; }

.hig-tooltip-placement-top .hig-tooltip-arrow {
  left: 50%; }

.hig-tooltip-placement-topLeft .hig-tooltip-arrow {
  left: 15%; }

.hig-tooltip-placement-topRight .hig-tooltip-arrow {
  right: 15%; }

.hig-tooltip-placement-right .hig-tooltip-arrow, .hig-tooltip-placement-rightTop .hig-tooltip-arrow, .hig-tooltip-placement-rightBottom .hig-tooltip-arrow {
  left: 4px;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #373737; }

.hig-tooltip-placement-right .hig-tooltip-arrow {
  top: 50%; }

.hig-tooltip-placement-rightTop .hig-tooltip-arrow {
  top: 15%;
  margin-top: 0; }

.hig-tooltip-placement-rightBottom .hig-tooltip-arrow {
  bottom: 15%; }

.hig-tooltip-placement-left .hig-tooltip-arrow, .hig-tooltip-placement-leftTop .hig-tooltip-arrow, .hig-tooltip-placement-leftBottom .hig-tooltip-arrow {
  right: 4px;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #373737; }

.hig-tooltip-placement-left .hig-tooltip-arrow {
  top: 50%; }

.hig-tooltip-placement-leftTop .hig-tooltip-arrow {
  top: 15%;
  margin-top: 0; }

.hig-tooltip-placement-leftBottom .hig-tooltip-arrow {
  bottom: 15%; }

.hig-tooltip-placement-bottom .hig-tooltip-arrow, .hig-tooltip-placement-bottomLeft .hig-tooltip-arrow, .hig-tooltip-placement-bottomRight .hig-tooltip-arrow {
  top: 4px;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #373737; }

.hig-tooltip-placement-bottom .hig-tooltip-arrow {
  left: 50%; }

.hig-tooltip-placement-bottomLeft .hig-tooltip-arrow {
  left: 15%; }

.hig-tooltip-placement-bottomRight .hig-tooltip-arrow {
  right: 15%; }
