@import "~@hig/styles/build/index.css";

.App {
  font-family: ArtifaktElement;
  padding-bottom: 25px;
}

body {
  width: 1054px;
  height: 1054px;
}
.side-area {
  background-color: #0696D7;
  padding-bottom: 25px;
}
